PORT=5000
MONGO_URI=mongodb+srv://mohamedanas032005_db_user:Anas%40Mongodbatlas1@cluster0.ozobeh6.mongodb.net/digital-lost-found?appName=Cluster0
JWT_SECRET=7f4a8e2c9b1d6f3a8e5c2b9d7f4a1e6c8b3d9f7a2e5c8b1d6f3a9e7c4b2d8f5a
# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dfnq9waue
CLOUDINARY_API_KEY=241888899895591
CLOUDINARY_API_SECRET=ewGXlXUMP6KOUKUrVSHpywHJ6GM
FRONTEND_URL=https://your-app-name.onrender.com
NODE_ENV=production
